body{
    margin: 0%;
}
/*
.estruturaHeader{
  
    width: 100% ;
    position: relative;
    height: 80px;
    background-color:#ff5200;
  
}

.logo{
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-top: 2px;
}

*/
/*.titulo {
    
    /*font-size: 50px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-left: 35%;
    margin-bottom: 20px;
}
 


/*
.nomeSite{
    font-size: 20px;
    position: absolute;
    margin-left: 4%;
    color:cornsilk;
    top: 30%;
}

   
.botoesHeader{
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    float: right;
    color: white;
    background-color: transparent;
    height: 50px;
    margin-right: 10px;
    margin-top: 5px;
}
*/